<!doctype html>
<html lang="en">
   <head>
      {% include head.html %}
   </head>
   <body>
      {% include navbar.html %}
      <main>
         <div class="pattern-square{% if page.layout == 'topic' %} pattern-square--header-only{% endif %}"></div>
         {{ content }}
      </main>
      {% include footer.html %}
      {% include scripts.html %}
      {% if page.layout == 'topic' %}
      {% assign asset_rev = site.github.build_revision | default: site.time | date: '%s' %}
      <script src="{{ '/assets/libs/swiper/swiper-bundle.min.js' | relative_url }}"></script>
      <script src="{{ '/assets/js/topic-projects-swiper.js' | relative_url }}?v={{ asset_rev }}" defer></script>
      {% endif %}
   </body>
</html>
